.demo {
  gap: 1rem;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pt-2 {
  padding-top: 8px;
}

#app{
  max-width: 100%;
}